<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item" style="background-color: papayawhip;"> User: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}" class="btn btn-secondary" role="btn">Logout</a></li>
  {% else %}
    <li ><a href="{% url 'login' %}" class="btn btn-secondary" role="btn">Login</a></li>
  {% endif %}

  <br>
    <li class="list-group-item" style="background-color: papayawhip;"><a href="{% url 'kitchen:index' %}">Home page</a></li>
    <li class="list-group-item" style="background-color: papayawhip;"><a href="{% url 'kitchen:cook-list' %}">Cooks</a></li>
    <li class="list-group-item" style="background-color: papayawhip;"><a href="{% url 'kitchen:dish-list' %}">Dishes</a></li>
    <li class="list-group-item" style="background-color: papayawhip;"><a href="{% url 'kitchen:dish-type-list' %}">DishTypes</a></li>
</ul>