{% extends "base.html" %}

{% block content %}
    <h1>Cook List
      <a style="float: right" href="{% url 'kitchen:cook-create' %}"><h3>Add cook</h3></a>
    </h1>

    {% if cook_list %}
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>years_of_experience</th>
      </tr>
    {% for cook in cook_list %}
      <tr>
        <td>{{ cook.id }}</td>
        <td><a href="{% url "kitchen:cook-detail" pk=cook.id %}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a></td>
        <td>{{ cook.first_name }}</td>
        <td>{{ cook.last_name }}</td>
        <td>{{ cook.years_of_experience }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no cook in the kitchen.</p>
    {% endif %}
{% endblock %}
