{% extends "base.html" %}

{% block content %}
  <a style="float: right"  href="{%  url 'kitchen:dish-create' %}"><h3>Create</h3></a>
  <h1 style="text-align: center">Dish list
  </h1>

  <form action="" method="get">
  {{ search_form.as_p }}
  </form>
  {% if dish_list %}
      <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for dish in dish_list %}
            <tr>
                <td>
                    {{dish.id }}
                </td>
                <td>
                    <a href="{% url "kitchen:dish-detail" pk=dish.id %}">{{ dish.name }}</a>
                </td>
                <td>
                    <a href="{% url "kitchen:dish-update" pk=dish.id %}">UPDATE</a>
                </td>
                <td>
                    <a href="{% url "kitchen:dish-delete" pk=dish.id %}">DELETE</a>
                </td>
            </tr>
        {% endfor %}
      </table>

  {% else %}
    <p>There are no dishes in the kitchen</p>
  {% endif %}
{% endblock %}
