<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Kitchen</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>ooon</title>
  <link rel="icon"  href="{% static 'taxi/img/savory.jpg' %}"/>
</head>

<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Best Kitchen</a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <div class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:index' %}">Home page</a>
        </div>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div>
          {% if user.is_authenticated %}
          User: {{ user.username }}
          <a href="{% url 'logout' %}" class="btn btn-secondary" role="btn" >Logout</a>
        </div>
        <div>
          {%  else %}
          <a href="{% url 'login' %}" class="btn btn-secondary" role="btn">Login</a>
          {% endif %}
        </div>
      </form>
      </div>
    </nav>
    </div>
  </header>
  <div class="container">
    <div class="jumbotron">
      <div class="center-block">
        <img src="/static/kitchen/img/assortment-fresh-organic-fruits-vegetables-rainbow-colors-panoramic-food-background-171245196.jpg"
            class="img-fluid" alt="Responsive image" >
        <br>
      </div>
    </div>
  </div>




<div class="container">

    <div class="col inner-row" style="background-color: #f5f5f5;">
      <div class="d-flex justify-content-around">
        <div ><a href="{% url 'kitchen:cook-list' %}"><h3>Cooks</h3></a></div>
        <div ><a href="{% url 'kitchen:dish-list' %}"><h3>Dishes</h3></a></div>
        <div ><a href="{% url 'kitchen:dish-type-list' %}"><h3>DishTypes</h3></a></div>
      </div>

      {% block content %}{% endblock %}

      {% block pagination %}
          {% include "includes/pagination.html" %}
      {% endblock %}


    </div>

  </div>

</body>

</html>